# IDE
.idea/

# python
__pycache__/
*.pyc

# env
.venv/
env/

# datasets
data/
*.npy
*.npz

# model checkpoints
*.pth
*.pt

# experiment outputs
experiments/
outputs/
logs/

# temp
*.log

# allow thesis project source data and experiment files
!src/magloc/data/
!src/magloc/data/**
!src/magloc/experiments/
!src/magloc/experiments/**
